/*
Done by: 
Ali Majed AlSowaidi 202104585
Mohamed Abdulmonem AlJanahi 202008794
Section 8
*/

/* CSS Styling Page */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    background-color: #0084ff;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1{
    text-align: center;
    color: white;
}

nav {
    background-color: #003cff;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
            background-color: #547cff;
}

section h2 {
    text-align: center;
}

section p {
    text-align: center;
}

main {
        padding: 20px;
    }
        
    
.section {
        margin-bottom: 30px;
    }


table{
    border-collapse: collapse;
    margin: 30px auto;
    background-color:#c1e1ff;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th{
    text-align: center;
    font-weight: bold;
    background-color: #83c3ff;
    color: #000000;
    padding: 10px;
    border: 1px solid #000000;
}

td{
    text-align: center;
    border: 1px solid #000000;
}

.gallery img {
    width: 100%;
    max-width: 200px;
    margin: 10px;
    border-radius: 10px;
}

.responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}

footer {
    background-color: #0084ff;
    text-align: center;
    padding: 10px;
    color: #fff;
}